#root{
    width: 1517px;;
    height: 1085px;
    display: block;
    border: 1px solid #FBFBFB;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin: auto;
    /* position: absolute;
    top: 0;
    left: 0; */
    
}
*{
    text-shadow: 0px 0px 1px;
}
#header{
    height: 80px;
    background: #CE0505 0% 0% no-repeat padding-box;;
}
#logo{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: inline block;
    margin-left: 11px;
    position: absolute;
    top: 16px;

}
#logo_name{
  
    font: normal normal 600 33px/50px Poppins;
    color: #EB2929;
}
#login{
    width: 43px;
    height: 23px;
    display: inline block;
    position: absolute;
    margin-top: 18px;
    margin-left: 49rem;
}
#login_text{
    font: normal normal 21px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 0px 1px;
 }
 #create_account{
     width: 203px;
     height: 46px;
     border: 1px solid #FFFFFF;
     border-radius: 3px;
     margin-left: 30cm;
     position: absolute;
     margin-top: 10px;
     text-align: center;
 }
 #create_account-text{
    font: normal normal 18px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color: #CE0505;
    border: #CE0505;
    padding: 7px;
    text-shadow: 0px 0px 1px;
    


 }
 #background_image{
    background-image: url(../../public//images/bg_image.png);
    background-repeat: no-repeat;
    width: 961px;
    height: 409px;
    margin: auto;
    position: relative;
    margin-top: 114px;
    box-shadow: 0px 3px 6px #00000029;

}
#image_gallery_button
{
    width: 242px;
   height: 48px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   border-radius: 3px;
   opacity: 0.8;
   position: absolute;
   margin-top: 329px;
   margin-left: 696px 
}
#image_gallery_text{
    text-align: left;
   font: normal normal 600 16px/30px Poppins;
   letter-spacing: 0px;
   color: #192F60;
   opacity: 1;
   background-color: #FFFFFF;
   border: #FFFFFF;
   margin: 9px;
}
#restaurant-name{
    width: 339px;
    height: 43px;
    position: relative;
    text-align: left;
    font: normal normal 600 22px/46px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    margin-top: 40px;
    
}
#place_order{
    width: 223px;
    height: 50px;
    background: #CE0505 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    position: relative;
    margin-top: 45px;
    margin-left: 734px;
    
}
#place_order_button{
    padding: 11px;
    margin-left: 8px;
    text-align: center;
    font: normal normal 19px/27px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background-color: #CE0505;
    border: #CE0505;
}
#overview{
    width: 85px;
    height: 25px;
    position: relative;
    margin-left: 137px;
    margin-top: 59px;
    display: inline block;
}
#button{
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    background-color: #FBFBFB;
    border: #FBFBFB;
    text-shadow: 0px 0px 1px;
    position: relative;
}
#contact{
     margin-left: 299px;
     margin-top: -26px;
}
#line{
    border: 2px solid #DEDFE5;
    width: 962px;
    margin-top: 53px;
    position: relative;
    margin-left: 97px;
}
#text_header{
    margin-top: 50px;
    position: relative;
    text-align: left;
    font: normal normal 600 19px/33px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    
}
#main_text{
    width: 508px;
    height: 25px;
    margin-top: -24px;
    margin-left: 133px;
   
}
#text_header{
    margin-top: 50px;
    margin-left: 133px;
    /* position: relative; */
    text-align: left;
    font: normal normal 600 16px/33px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    text-shadow: 0px 0px 1px;
}
#text-1{
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    margin-top: 70px;
    opacity: 1;
    text-shadow: 0px 0px 1px;
    position: relative;
}
#text-2{
    text-align: left;
   font: normal normal normal 17px/30px Poppins;
   letter-spacing: 0px;
   color: #192F60;
   opacity: 1;
   position: relative;
   margin-top: -10px;
   font-weight: 300;
   text-shadow: 0px 0px 1px;
}
#overviewPart{
    top: 41rem;
    /* left: 141px; */
    position: absolute;

}
#headerPart{
    padding: 12px; 
    margin: auto; 
    width: 1000px;
}

#text-3{
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    margin-top: 70px;
    opacity: 1;
    text-shadow: 0px 0px 1px;
    position: relative;

}

#text-4{

    text-align: left;
    font: normal normal normal 17px/30px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    position: relative;
    margin-top: -10px;
    font-weight: 300;
    text-shadow: 0px 0px 1px;
    width: 387px;

}

#subpart
{
    width: "961px;";
    margin: "auto";
    position: absolute;
    top: 0;
    margin-left: 230px;
    margin-right: 230px ;
}

